body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

pre {
  color: #333;
  margin-top: 20px;
}

fieldset {
  justify-content: center;
  display: flex;
  text-align: center;
  flex-direction: row;
  padding: 5px;
  margin: 5px;
}

form {
  width: 40%;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.hidden {
  display: none;
}

select{
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  margin-right: 50px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

input[type="number"] {
  width: 100%;
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
}

#buttons{
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

button[type="submit"] {
  background-color: #28a745;
}

button:hover {
  opacity: 0.8;
}

table {
  width: 90%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

th {
  background-color: #7aade4;
  color: white;
}

